@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/constants';

div {
  position: relative;
  left: 8px;
}

.container {
  margin: 200px;
}

.header {
  text-align: center;
}
