@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/constants';

.container {
  margin: 0px $gutter-small;
}

.header {
  text-align: center;
}

.card {
  border-left: solid thick #42e8e0;
  position: relative;
  left: 8px;
  // text-indent: 8px;
  // width: 40 px;
  // background-color: white
  // border-radius: 2px;
  // background: #FFFFFF;
  // box-shadow: 2px 2px 2px #2b2b2b;
}

.text {
  margin: 32px;
}
